<tr>
  <td>
     "O seu médico" {{ doctorName }}  "enviou sua prescrição."
  </td>
</tr>
<tr>
  <td>
    <b> "Atenção"</b>
  </td>
</tr>
<tr>
  <td>
     "A receita médica está anexada a este email. Faça download e backup em lugar seguro "
  </td>
</tr>
<tr>
  <td>
    <b> "E agora?"</b>
  </td>
</tr>
<tr>
  <td>
     "Envie a receita médica para a farmácia por email ou whatsapp"
  </td>
</tr>
<tr>
  <td>
    <b> "O que eu faço com o certificado?"</b>
  </td>
</tr>
<tr>
  <td>
     "Salve-o junto com a prescrição. Ele certifica que esta prescrição foi validada e assinada digitalmente pelo seu médico"
  </td>
</tr>